---
title: My Repositories
layout: default
permalink: repos.html
---

{% if site.github.public_repositories.size > 0 %}
    <ul>
    {% assign repos = site.github.public_repositories | sort:"updated_at" | reverse %}
    {% for repo in repos %}
        {% if repo.has_pages %}
            {% assign repo_url = repo.homepage %}
        {% else %}
            {% assign repo_url = repo.html_url %}
        {% endif %}
        <li>
            <strong><a href="{{ repo_url }}">{{ repo.name }}</a></strong> / udpated <time datetime="{{ repo.updated_at | date_to_xmlschema }}">{{ repo.updated_at | date: '%b %-d, %Y'}}</time>
        {% if repo.fork %}
            <br />This repository is forked from somewhere
        {% endif %}
        {% if repo.description.size > 0 %}
            <br />{{ repo.description }}
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    No repos yet!
{% endif %}

<!---
Thinking this through

* If repo.has_pages then link to Pages URL
* Pages URL may be repos.homepage
* html_url, homepage, and pushed_at may also be interesting
--->
