<div class="link-wrapper">
  <style scoped>
    ul.link a {
      color:var(--clr-h1-and-bold);
      text-decoration:none;
    }

    ul.link a:hover, a:focus {
      color: var(--clr-a-text-hvr);
    }
  </style>
  <ul class="link">
    <li><a href="https://github.com/solvaholic" rel="author"><i class="fab fa-github"></i> GitHub</a></li>
    <li><a href="https://keybase.io/solvaholic" rel="external"><i class='fab fa-keybase'></i> Keybase</a></li>
    <li><a href="https://www.linkedin.com" rel="external"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
    <li><a href="https://twitter.com" rel="external"><i class="fab fa-twitter"></i> Twitter</a></li>
    <li><a href="https://solvaholic.github.io" rel="external"><i class="fas fa-pencil-alt"></i> Blog</a></li>
    <li><a href="https://github.com/solvaholic/reimagined-fortnight"><i class="far fa-bookmark"></i> This Repository</a></li>
  </ul>
</div>