<div class="link-wrapper">
  <style scoped>
    ul.link a {
      color:var(--clr-h1-and-bold);
      text-decoration:none;
    }

    ul.link a:hover, a:focus {
      color: var(--clr-a-text-hvr);
    }
  </style>
  <ul class="link">
    {% if site.github.owner_url %}
    <li><a href="{{ site.github.owner_url }}" rel="author"><i class="fab fa-github"></i> on GitHub</a></li>
    {% endif %}
    
    {% if site.author_url_keybase %}
    <li><a href="{{ site.author_url_keybase }}" rel="external"><i class='fab fa-keybase'></i> on Keybase</a></li>
    {% endif %}
    
    {% if site.author_url_twitter %}
    <li><a href="{{ site.author_url_twitter }}" rel="external"><i class="fab fa-twitter"></i> on Twitter</a></li>
    {% endif %}
    
    <li><a href="/allposts.html"><i class='far fa-folder-open'></i> All posts</a></li>

    {% if site.github.repository_url %}
    <li><a href="{{ site.github.repository_url }}"><i class='fas fa-code'></i> Code for this site</a></li>
    {% endif %}

  </ul>
</div>