<div class="link-wrapper-mobile">
  {% if site.github.owner_url %}
  <a href="{{ site.github.owner_url }}" rel="author"><i class="fab fa-github"></i></a>
  <span style="margin-left: 5px;"></span>
  {% endif %}
  
  {% if site.author_url_keybase %}
  <a href="{{ site.author_url_keybase }}" rel="external"><i class='fab fa-keybase'></i></a>
  <span style="margin-left: 5px;"></span>
  {% endif %}
  
  {% if site.author_url_twitter %}
  <a href="{{ site.author_url_twitter }}" rel="external"><i class="fab fa-twitter"></i></a>
  <span style="margin-left: 5px;"></span>
  {% endif %}
  
  <a href="/allposts.html"><i class='far fa-folder-open'></i></a>
  <span style="margin-left: 5px;"></span>
  
  {% if site.github.repository_url %}
  <a href="{{ site.github.repository_url }}"><i class='fas fa-code'></i></a>
  <span style="margin-left: 5px;"></span>
  {% endif %}
</div>



