<div class="link-wrapper-mobile">
  <a href="https://github.com/solvaholic" rel="author"><i class="fab fa-github"></i></a>
  <span style="margin-left: 5px;"></span>
  <a href="https://keybase.io/solvaholic" rel="external"><i class='fab fa-keybase'></i></a>
  <span style="margin-left: 5px;"></span>
  <!-- <a href="https://twitter.com" rel="external"><i class="fab fa-twitter"></i></a> -->
  <span style="margin-left: 5px;"></span>
  <a href="/allposts.html"><i class='far fa-folder-open'></i></a>
  <span style="margin-left: 5px;"></span>
  <a href="https://github.com/solvaholic/solvaholic.github.io"><i class='fas fa-code'></i></a>
  <span style="margin-left: 5px;"></span>
</div>